---
layout: none
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from the Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Developers Digest</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1><span class="underline">Hydraulisc</span> Developers Digest</h1>
            </div>
        </div>
    </header>
    <div id="entries"></div>

    {% include noscript.html %}
    {% include footer.html %}

    <script src="script.js" defer></script>
</body>
</html>
