body {
    background: black;
    color: white;
}

a {
    color: #5667c7;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    padding: .5rem;
    cursor: pointer;
    background-color: #5667c7;
    color: #d7d9e0;
    text-transform: uppercase;
    font-weight: 600;
}

.primary-text {
    color: #d7d9e0;
}

.carrd {
    transition: transform 0.3s ease;
}

.carrd:hover {
    transform: translateY(-3px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 5px 5px 25px 1px rgba(255, 255, 255, 0.4);
}

#title {
    margin-top: 3rem;
    animation: crtFlicker 0.8s linear 2;
}

.gridMe {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.gridItem {
    padding: 1rem;
    background-color: #100E09;
    overflow: hidden;
    position: relative;
}

.gridSelected {
    border: 1.5px solid transparent;
    border-image: linear-gradient(90deg, #5464c7, #ff5c5c, #00ffa3);
    border-image-slice: 1;
    animation: gradientShift 6s linear infinite;
}

@media screen and (min-width: 768px) {
  .gridMe {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@keyframes gradientShift {
    0%   { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

@keyframes crtFlicker {
    0% { opacity: 0.8; }
    5% { opacity: 0.3; }
    10% { opacity: 1; }
    15% { opacity: 0.6; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}