body {
    background: black;
    color: white;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    padding: .5rem;
    cursor: pointer;
    background-color: #5667c7;
    color: #d7d9e0;
    text-transform: uppercase;
    font-weight: 600;
}

.primary-text {
    color: #d7d9e0;
}

.carrd {
    transition: transform 0.3s ease;
}

.carrd:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 25px 1px rgba(255, 255, 255, 0.4);
}

#title {
    margin-top: 3rem;
}