<div class="footer mono">
    <p>
        <a href="/">[F1] HOME</a>  
        <a href="https://github.com/Hydraulisc/blog-site" target="_blank">[F2] GITHUB</a>  
        <a href="https://hydraulisc.net" target="_blank">[F8] HYDRAULISC</a>  
        <a href="https://sleepingami.github.io/modders-delight" target="_blank">[F9] MODDERS DELIGHT</a>
        <!-- <a href="https://b.co" target="_blank">[F10] EXAMPLE</a>
        <a href="https://c.co" target="_blank">[F11] EXAMPLE</a>
        <a href="https://d.de" target="_blank">[F12] EXAMPLE</a> -->
    </p>
    <p style="text-align: center; font-size: smaller;">Site themed after <span class="underline"><a href="https://sleepingami.github.io/modders-delight" target="_blank">Modders Delight</a></span>.</p>
    <p style="text-align: center; font-size: smaller;">Site uses the <span class="underline"><a href="https://www.cdnfonts.com/tasa-explorer.font" target="_blank" rel="noopener noreferrer">TASA Explorer</a></span> and <span class="underline"><a href="https://www.cdnfonts.com/sometype-mono.font" target="_blank" rel="noopener noreferrer">Sometype Mono</a></span> font families from <span class="underline"><a href="https://cdnfonts.com" target="_blank" rel="noopener noreferrer">CDN Fonts</a></span>, available for Commercial Use.</p>
    <img src="https://about.hydraulisc.net/assets/icons/footer-badge.png" alt="Powered By Badge" style="max-height: 26px; height: auto; width: fit-content; cursor: pointer; margin: 2rem 0;">
</div>