---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Devlopers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>AIO Accounts: The End of Interoperability</h1>
            </div>
        </div>
    </header>
    <div style="border-left: 2px solid #5667c7; border-radius: 12px 0 0 12px; padding: 2px 12px;">
        <h2>Update (<span title="2025-10-21">2025-10-21</span>):</h2>
        <p>Technically OAuth2 allows interoperability.</p>
    </div>
    <div style="padding-top: 100px;" id="bodycontainer">
        <p>As per <a href="https://blog.hydraulisc.net/blog/hydraulisc-maintenance">this blog post</a>, Hydraulisc is going to be reborn, with a new, FOSS-focused alternative.</p>
        <p>Unfortunately, this means we're having to make some ground-breaking changes.</p>
        <p>These changes include, and are not in any way limited to:</p>
        <ul>
            <li>Replacing All in One (AIO) Interoperable Accounts with OAuth2 scopes</li>
            <li>The removal of E2EE Private Messaging</li>
        </ul>
        <br>
        <p>Additionally, we're planning a <a href="https://blog.hydraulisc.net/blog/haulisc-roadmap">roadmap</a> for feature sets we will add, along with preferred launch and release dates.</p>
        <br>
        <p>This FOSS-Focused alternative aims to bring some clarity to Hydraulisc's inner workings, along with upholding our promise of Free and Open Source alternatives to large social media platforms.</p>
    </div>
    <hr>
    <div id="buttons">
        <button onclick="location.href='/';" class="btn-primary primary-text">Return Home</button>
    </div>
    {% include noscript.html %}
    {% include footer.html %}
</body>
</html>