---
layout: none
---
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Devlopers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>Aquilo Roadmap: Road to Community</h1>
            </div>
        </div>
    </header>
    <div style="padding-top: 100px;" id="bodycontainer">
        <p>This entry provides a vague rundown of the <a href="https://aquilo.hydraulisc.net" target="_blank" rel="noopener noreferrer">Aquilo</a> <a href="https://github.com/Hydraulisc/aquilo" target="_blank" rel="noopener noreferrer">Project</a> Roadmap.</p>
        <div style="border-left: 2px solid #5667c7; border-radius: 12px 0 0 12px; padding: 2px 12px;">
            <p>From <a href="https://hydraulisc.net/user/19" style="color: #5667c7;">Arkarivs</a><sup>[<a href="https://github.com/Arkarivs/" style="font-size: 8px; text-decoration: none; color: #5667c7;">GitHub</a>]</sup>:</p>
            <p><i>"Aquilo is a social networking alternative whose main goal is to connect users to communities they create. Your privacy is respected and there are no paid ads or advertising, and no network growth is driven by invitations, but rather by choice."</i></p>
        </div>
        <div style="margin-top: 3rem; margin-bottom: 2rem; display: flex; flex-direction: column; gap: 3rem; width: 100%; margin-right: auto; margin-left: auto;">
            <div class="gridMe">
                <div class="gridItem gridSelected">
                    <p style="font-size: 10px;">October 1st 2025</p>
                    <h3>Pre-Build Phase</h3>
                    <p>Local development. Invites functionality, role functionality, site layouts, landing pages, global instance settings, early-develoments.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include noscript.html %}
    {% include footer.html %}
</body>
</html>