---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Developers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>First Post; That One Cookie</h1>
            </div>
        </div>
    </header>
    <div style="border-left: 2px solid #5667c7; border-radius: 12px 0 0 12px; padding: 2px 12px;">
        <h2>Important update (<span title="2025-10-21">2025-10-21</span>):</h2>
        <p>This blog entry is considered <span style="font-weight: 700; text-decoration: underline; text-transform: uppercase;">stale</span>. It has been reuploaded with the blog reworks for archiving purposes.</p>
        <p>As of this update, certain... <i>policies</i> have been made, certain goals of ours have changed, and our general vision for The Hydraulisc Network has changed slightly.</p>
        <p>We now aim to foster a free as in price, free as in freedom, open source, privacy <i>respecting</i>, alternative to most major social networks.</p>
        <p>Your data should be yours. Even when you explicitly allow third parties to store certain parts of it.</p>
        <br>
        <p>I (Ami) also want to clarify that Hydraulisc, the "platform" or "product" if you like, is found at <a href="https://hydraulisc.net" target="_blank" rel="noopener noreferrer">http://hydraulisc.net</a>, and that The Hydraulisc Network is the <i>organization</i> that creates and curates it.</p>
        <p>Hydraulisc, StarPlace, PocketLive, Aquilo. These are "platforms" or "products" by The Hydraulisc Network.</p>
    </div>
    <div style="padding-top: 100px;" id="bodycontainer">
        <p>Hey there!</p>
        <p>If you are new here, welcome to the Hydraulisc Blog (found @ <a href="https://blog.hydraulisc.net" target="_blank">blog.hydraulisc.net</a>).</p>
        <p>This blog is meant to help explain things in a non-official way by me (Ami) and select members that help make Hydraulisc what it is.</p>
        <p>The topic at hand; That One Cookie/Tracker.</p>
        <br>
        <p>If you use uBlock Origin, DuckDuckGo Privacy Protections or AdBlock Plus (standard adblock probably blocks this too), you've probably noticed that there is at least one tracker or cookie being blocked at all times across Hydraulisc products.</p>
        <p>I want to take advantage of the moment to clarify that Hydraulisc does NOT aim to be a privacy-first social networking platform. That was said once or twice, and we do have some ridiculous privacy-focused features like 5*E2EE (technically 3*E2EE...). Whilst we do go a bit crazy with certain features, we aren't aiming to be a privacy-focused platform, just a Free, Self-Hostable Social Network (Like no other ;))</p>
        <p>Now then, what is that one thing that gets blocked?</p>
        <p>As an avid Tor+DDG+UBO user, I can tell you that it's just another google tag manager tracker that helps me collect analytics regarding usage and A/B test diagnoses. That's pretty much it. Does it invade privacy? Likely. (My personal opinion on the matter btw, it is google after all, there is no way in hell they aren't selling this data).</p>
        <br>
        <p>So, why am I using google to manage this stuff if I don't trust them?</p>
        <p>Well, ease of access (and price). Simple as that. The features I'm using are (currently) free and as simple as plug-and-play.</p>
        <br>
        <p>I might maybe make my own versions of these tools in the future, but being honest it's a long shot. Way too complicated, way too little time, and no where near enough interest. Once again, I'm not going to go overkill to make something that I'm likely never going to use (and realistically neither is anyone else likely to use).</p>
        <br>
        <p>So, for now, I'm going to focus my efforts back to making Hydraulisc, the Hydraulisc Link Shorten-er (and Source Identifier remover) and then, eventually, make my way over to PocketLive and StarPlace. This is the order in which I want to perform things, and probably will, being honest.</p>
    </div>
    <hr>
    {% include noscript.html %}
    {% include footer.html %}
</body>
</html>