---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Devlopers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>haulisc-roadmap: A Vague Hydraulisc Roadmap</h1>
            </div>
        </div>
    </header>
    <div style="padding-top: 100px;" id="bodycontainer">
        <p>Welcome to another Developers Digest.</p>
        <p>This entry provides a vague rundown of the Hydraulisc Foss Rewrite Roadmap.</p>
        <p>Initially, we aim for a <b style="text-decoration: underline;">12-18 month turnover</b>.</p>
        <div style="margin-top: 3rem; margin-bottom: 2rem; display: flex; flex-direction: column; gap: 3rem; width: 100%; margin-right: auto; margin-left: auto;">
            <div class="gridMe">
                <div class="gridItem">
                    <p style="font-size: 10px;">January 1st 2025</p>
                    <h3>Pre-Build Phase</h3>
                    <p>Local development. Invite and Role features implementations.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">January 8th 2025</p>
                    <h3>Initial Commit</h3>
                    <p>First official <a href="https://github.com/Hydraulisc/foss-hydraulisc/commit/477c05eef64a13451762014cbc4970733b4185eb" target="_blank" rel="noopener noreferrer">commit</a> to the new <a href="https://github.com/Hydraulisc/foss-hydraulisc/" target="_blank" rel="noopener noreferrer">FOSS Repository on GitHub</a>.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">January 9th 2025</p>
                    <h3>Initial APT Rollout</h3>
                    <p>First official <a href="https://github.com/Hydraulisc/foss-hydraulisc/commit/107776c70dea1ba46cc6724c27ba43a0cc604016" target="_blank" rel="noopener noreferrer">APT commit</a>, after adding isAdmin features.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">January 12th 2025</p>
                    <h3>APT Phase</h3>
                    <p>Alpha Private Testing Phase. Database will be deleted multiple times. Bug Hunting with a select team of Alpha Testers. Renewed <a href="https://github.com/Hydraulisc/foss-hydraulisc/commit/cfef8332b2993697b6dfd4be609f842847be3dd5" target="_blank" rel="noopener noreferrer">welcome page</a>.</p>
                    <p>First official, private and invite-only, release.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">January 19th - February 10th 2025</p>
                    <h3>Renew Settings</h3>
                    <p>Renewed settings page, based off of old one.</p>
                    <p>Prefers HTML form over JavaScript FETCH.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">January 26th 2025</p>
                    <h3>File Upload Functionality</h3>
                    <p>Allowed Post uploads and avatar/banner uploads.</p>
                    <p>Also checks file mimetypes, and sanitizes HTML before storing or rendering.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">February 3rd 2025</p>
                    <h3>PAT/PBT Phase</h3>
                    <p>Public Alpha Triage Phase transitioning to Public Beta Testing phase.</p>
                    <p>Larger group of Alpha testers and triage of Beta testers as we transition to a Public Beta.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">February 9th 2025</p>
                    <h3>PBT Phase</h3>
                    <p>Fully Public Beta Test, as we transition to a full release.</p>
                    <p>Removing invite-only mode.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">April 2025</p>
                    <h3>OAuth2 Handles</h3>
                    <p>Allow users to register for an OAuth2 client on Hydraulisc from a "developers" section in settings.</p>
                    <p>OAuth2 scopes restricted to "identify" and "connections" for third parties.</p>
                </div>
                <div class="gridItem gridSelected">
                    <p style="font-size: 10px;">February 2025 - October 2025</p>
                    <h3>Theme Implementations</h3>
                    <p>Ability to switch between themes.</p>
                    <p>Adding custom CSS support. Major CSS overhaul.</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">N/A</p>
                    <h3>Language Implementations</h3>
                    <p>Community Translations!</p>
                    <p>Pending 3rd party FOSS software release!</p>
                </div>
                <div class="gridItem">
                    <p style="font-size: 10px;">N/A</p>
                    <h3>Final Product Release</h3>
                    <p>Full release of the <a href="https://github.com/Hydraulisc/foss-hydraulisc/" target="_blank" rel="noopener noreferrer">FOSS Hydraulisc Rewrite</a> on GitHub.</p>
                    <p>This is Not Applicable (N/A) because Hydraulisc will be continuously developed &amp; upgraded.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include noscript.html %}
    {% include footer.html %}
</body>
</html>