---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Developers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>Hydraulisc's stance on KYC</h1>
                <p style="font-size: smaller;"><i>Unfortunately, this is happening.</i></p>
            </div>
        </div>
    </header>
    <div style="padding-top: 100px;" id="bodycontainer">
        <div style="border-left: 2px solid #5667c7; border-radius: 12px 0 0 12px; padding: 2px 12px;">
            <h2>WARNING:</h2>
            <p>This post reflects the personal and professional views of the lead developer of The Hydraulisc Network. It is grounded in public information and policy drafts available at the time of writing.</p>
            <p>It also covers political topics.</p>
            <p style="font-weight: bold; text-decoration: underline;">Viewer discretion is advised!</p>
        </div>
        <h3>Recent Political Changes</h3>
        <p>After the so-called "EU Chat Control / Online Safety Act" proposal, widely and rightfully criticized as an EU mass-surveillance framework, was rejected once again, the debate calmed down. Slightly.</p>
        <p>But the direction didn't change. Access is being restricted, platforms are being pressured, and privacy as a <i>right</i> is being slowly eroded through policy rather than openly removed by law.</p>
        <p>Where I reside, access to Tor (without bridges) has already been blocked. At the same time, draft regulations are moving forward that would require <b>all social media platforms to verify user identities via KYC-style ID checks</b>, unless they meet undefined “risk benchmark” standards. In practice, that means forced identification - not as an option, but as a condition of participation.</p>
        <br>
        <p>This is not user safety.</p>
        <p style="font-weight: bold;">This is a fundamental breach of privacy.</p>
        <br>
        <p style="font-weight: bold;">To be absolutely blunt, Hydraulisc will cease any and all <b>platform operations</b> before we will enforce any form of privacy-violating ID verification.</p>
        <p>Privacy is not a setting. It's a right. And more often than not, that right is being taken away.</p>
        <br>
        <br>
        <h3>Disguised Intent</h3>
        <p>Let's be honest. No fluff, no bs. This is a privacy breach disguised as online child safety.</p>
        <p>If protecting children were truly the goal, there are straightforward, proportional measures: stricter parental controls, device-level restrictions for minors, and limits on what under-18 accounts can access by default-<b>with parental restrictions, not governmental KYC-style ID verifications</b>.</p>
        <p>There are hundreds of morally acceptable solutions to this so-called problem. Hundreds <i>of <b>thousands</b></i> - many of them still immoral - that protect children <i>without</i> compromising the rest of us.</p>
        <p>To call this a shallow excuse is an understatement.</p>
        <br>
        <h3>Enforced Censorship Bias</h3>
        <p><b>Furthermore</b>, this is an act of <b>biased censorship</b>. To quote my government directly: "illegal, hateful, or harmful content is to be removed immediately [...] those responsible could go to jail". This refers specifically to platform executives - an umbrella category that includes me.</p>
        <p>This will force over-censorship. Platforms, such as <a href="http://hydraulisc.net" target="_blank" rel="noopener noreferrer">Hydraulisc</a> will have to delete anything even remotely controversial to avoid risks, <b>silencing political dissent, journalism, and everyday opinions</b>.</p>
        <p>Here's a cherry on top: they plan <b>algorithmic censorship</b>, replacing <i>exploration</i> with <b>curated propaganda</b>.</p>
        <br>
        <p>Platforms <b>would be required, by applicable law</b>, to monitor and report on "hate". <b>The vaguest definition of "hate"</b> will lead to <b>political bias, platform fines, and shutdowns</b>. <span style="font-weight: bold;"><span style="text-decoration: underline;">DO NOT</span> be fooled; <span style="text-decoration: underline;">THIS IS</span> a tool to suppress opposition.</span></p>
        <br>
        <p>This is not speculation. These drafts are already being discussed at policy level. <b>Some are already moving toward implementation.</b></p>
    </div>
    <hr>
    <!-- KEEP THESE; IMPORTANT -->
    {% include noscript.html %}
    {% include footer.html %}
</body>