---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/144374735" type="image/png">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <meta property="og:site_name" content="Developers Digest - Hydraulisc">
    <meta property="og:description" content="Updates from Hydraulisc Developers Digest">
    <meta property="og:title" content="Blog | Hydraulisc">
    <title>Hydraulisc Devlopers Digest</title>
    <link rel="stylesheet" href="https://blog.hydraulisc.net/styles.css">
</head>
<body class="background-primary primary-text">
    <header id="stickyHeader" class="stickyHeader">
        <a href="https://github.com/Hydraulisc/blog-site" style="border: none; border-radius: 10px 0px 0px 10px; position: absolute; right: 0; top: 0; background-color: #5667c7; cursor: pointer; z-index: 1010; color: #d7d9e0; text-decoration: none;">
            <span style="padding: 12px; font-size: smaller;">View on GitHub</span>
        </a>
        <div style="text-align: center;">
            <div id="title">
                <h1>Blog Entry Demo</h1>
            </div>
        </div>
    </header>
    <div style="padding-top: 100px;" id="bodycontainer">
        <p>Hey there!</p>
        <p>If you are new here, welcome to the Hydraulisc Blog (found @ <a href="https://blog.hydraulisc.net" target="_blank">blog.hydraulisc.net</a>).</p>
        <p>This is the template for Blog entries.</p>
        <br>
        <p>This entry will be modified over time to include things like style shorthands and quick snippets that can be reused.</p>
    </div>
    <hr>
    <!-- KEEP THESE; IMPORTANT -->
    {% include noscript.html %}
    {% include footer.html %}
</body>
</html>